#card{
  border-radius: 5%;
  box-shadow: 10px;
  padding: 2%;
}
#img{
  border-radius: 50%;
  width: 50px;
  margin-top: 10%;
}
#small_title{
  font-size: 9px;
}
#subtitle{
  font-size: 12px;
  margin-top: -30%;
  color: black;
}
#img_second{
  height: 60px;
  margin-top: 20%;
}
#timing{
  margin-top: 30%;
}
#location_name{
  font-size: 10px;
  color: black;
}
#location_time{
  margin-top: -60%;
  font-size: 12px;
  color: black;
}
.location_botom{
  padding-top: 50%
}
#bus_img{
  width: 30%;
}